{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "transform-class-properties",
    ["transform-imports", { "reactstrap": { "transform": "reactstrap/lib/${member}", "preventFullImport": true } }]
  ]
}
