@import '../../../theme/nio-bootstrap-vars';

.select-dropdown {
  .dropdown-toggle {
    border-radius: 7px;
    box-shadow: none !important;
    text-align: left;
    transition: none !important;
    border-color: $gray-light !important;
    width: 100%;
    padding-left: 14px;
    background-color: inherit !important;
    color: $gray !important;

    &.active,
    &:active,
    &.active:hover { // sass-lint:disable-line force-pseudo-nesting
      border-radius: 7px 7px 0 0;
      background-color: inherit !important;
      border-color: $gray-light !important;
      border-bottom: 1px solid transparent !important;
    }

    &:hover {
      box-shadow: none;
      border-color: $gray-light !important;
      background-color: inherit !important;
    }

    &::after {
      border: 0;
      font-family: 'nioicons';
      content: '\f113';
      vertical-align: top;
      display: block;
      float: right;
    }

  }

  .dropdown-menu {
    border-top: 0;
    border-radius: 0 0 7px 7px;
    margin-top: 0 !important;
    transition: none !important;
    border-color: $gray-light !important;
    width: 100%;
    padding: 0 0 10px;

    .dropdown-item {
      padding-left: 14px;
      padding-top: 0;
      background-color: inherit !important;

      &:hover {
        background: $white;
        color: $brand-primary;
        background-color: inherit !important;
      }
    }
  }

  &.inverse {
    .dropdown-toggle {
      border-color: $gray-lighter !important;
      color: $gray-lighter !important;

      &.active,
      &:active,
      &.active:hover { // sass-lint:disable-line force-pseudo-nesting
        border-color: $gray-lighter !important;
        border-bottom: 1px solid transparent !important;
      }

      &:hover {
        border-color: $gray-lighter !important;
      }

      &::after {
        color: $gray-lighter !important;
      }
    }

    .dropdown-menu {
      border-color: $gray-lighter !important;
      background-color: $black !important;

      .dropdown-item {
        background-color: $black !important;
        color: $gray-light;

        &:hover {
          color: $gray-lighter;
          background-color: $black !important;
        }
      }
    }
  }
}

.form-group {
  &.has-warning {
    .select-dropdown,
    .select-dropdown.inverse { // sass-lint:disable-line force-element-nesting
      .dropdown-toggle {
        border-color: $brand-warning !important;

        &.active,
        &:active,
        &.active:hover { // sass-lint:disable-line force-pseudo-nesting
          border-color: $brand-warning !important;
          border-bottom: 1px solid transparent !important;
        }

        &:hover {
          border-color: $brand-warning !important;
        }

        &::after {
          color: $brand-warning !important;
        }
      }

      .dropdown-menu {
        border-color: $brand-warning !important;
      }
    }
  }

  &.has-danger {
    .select-dropdown,
    .select-dropdown.inverse { // sass-lint:disable-line force-element-nesting
      .dropdown-toggle {
        border-color: $brand-danger !important;

        &.active,
        &:active,
        &.active:hover { // sass-lint:disable-line force-pseudo-nesting
          border-color: $brand-danger !important;
          border-bottom: 1px solid transparent !important;
        }

        &:hover {
          border-color: $brand-danger !important;
        }

        &::after {
          color: $brand-danger !important;
        }
      }

      .dropdown-menu {
        border-color: $brand-danger !important;
      }
    }
  }

  &.has-success {
    .select-dropdown,
    .select-dropdown.inverse { // sass-lint:disable-line force-element-nesting
      .dropdown-toggle {
        border-color: $brand-success !important;

        &.active,
        &:active,
        &.active:hover { // sass-lint:disable-line force-pseudo-nesting
          border-color: $brand-success !important;
          border-bottom: 1px solid transparent !important;
        }

        &:hover {
          border-color: $brand-success !important;
        }

        &::after {
          color: $brand-success !important;
        }
      }

      .dropdown-menu {
        border-color: $brand-success !important;
      }
    }
  }
}
