//@import '../../src/nio';
@import '~@nio/ui-kit/dist/nio';
@import './assets/css/base';

#app-container{
  display: flex;
  flex-direction: row;

  #app-sidebar {
    height: calc(100vh - 70px);
    overflow:hidden;
    width: 284px;
    flex: 0 284px;
  }

  #app-content {
    padding: 2rem;
    height: calc(100vh - 70px);
    overflow:hidden;
    overflow-y:auto;
    flex: 1;

    code {
      font-size: 14px !important;
    }
  }
}

#app-subnav {
  color: #252f31;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 70px);

  .header {
    padding: 1rem 2rem !important;
    border-bottom: 1px solid #9daab1;
    border-top: 1px solid #9daab1;
    background: #E6E9EE;
  }

  .nav-link,
  a {
    display:block;
    color: #6a7578 !important;
    padding: 1rem 2rem !important;
    border-bottom: 1px solid #e6e9ee;

    &.active,
    &:hover {
      color: #507CCD !important;
    }

    &.active::after{
      content: '>';
      display:block;
      float: right;
      font-weight: bold;
      line-height: 1.2;
    }
  }

}

