@import '../../../theme/nio-bootstrap-vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/forms';

.form-control-label {
  color: $brand-primary !important;
  font-size: 10px !important;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 8px !important;
  text-transform: lowercase;
}


