body {
  min-width: 320px;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Lato', 'sans-serif' !important;
  font-weight: 300 !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

code {
  display: block;
  padding: 1rem !important;
  font-size: 75% !important;
  overflow-x: auto;
  white-space: pre;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none !important;
}

hr {
  &.dashed {
    width: 100%;
    height: 2px;
    border: 0 !important;
    background-image: linear-gradient(to right, $gray-light 50%, transparent 0%) !important;
    background-position: top !important;
    background-size: 10px 2px !important;
    background-repeat: repeat-x !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0;
  background-color: $gray-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 3px;
}
