@import '../../theme/nio-bootstrap-vars';

.clock-container {
  display: inline-flex;

  .react-clock {
    display: block;
    position: relative;
  }

  .react-clock__face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $black;
    border-radius: 50%;
  }

  .react-clock__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;


    &__body {
      position: absolute;
      background-color: $black;
      transform: translateX(-50%);
    }
  }

  .react-clock__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: $black;
      transform: translateX(-50%);
    }
  }

  .react-clock__second-hand__body {
    background-color: $brand-danger;
  }
}
