@import '../theme';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/nav';

.navbar {
  min-width:320px;
  height:70px;
}

.navbar-toggler{
  border:none!important;
}
