// @import '~@nio/ui-kit/dist/nio';
@import '../src/nio';

#app-container{
  min-width:320px;
}

#logo {
  height:40px;
  width:87px;
  background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20702.6%20318.3%22%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M163.1%20313.4v-115c0-33.4-18.3-58.8-53-58.8-33.4%200-56.1%2028.1-56.1%2061.5V313.4H0V93.3H48.6l3.6%2029.9c22.3-21.8%2044.6-33%2072.2-33%2051.7%200%2093.1%2038.8%2093.1%20107.8V313.4Z%22%20class%3D%22a%22%2F%3E%3Cpath%20d%3D%22M327.1%20285.3c0%2042.3-64.2%2042.3-64.2%200S327.1%20243%20327.1%20285.3Z%22%20class%3D%22a%22%2F%3E%3Cpath%20d%3D%22M431.4%2031.8c0%2042.3-64.2%2042.3-64.2%200S431.4-10.6%20431.4%2031.8Zm-59.3%2061V313.4h54.4V92.8Z%22%20class%3D%22a%22%2F%3E%3Cpath%20d%3D%22M698.7%20203.7c0%2063.3-43.2%20114.5-114.5%20114.5S470.1%20267%20470.1%20203.7c0-62.8%2043.7-114.5%20113.6-114.5S698.7%20140.9%20698.7%20203.7Zm-174.2%200c0%2033.4%2020%2064.6%2059.7%2064.6s59.7-31.2%2059.7-64.6c0-33-23.2-65-59.7-65-39.2%200-59.7%2032.1-59.7%2065.1Z%22%20class%3D%22a%22%2F%3E%3Cpath%20d%3D%22M702.6%20105.4a5.8%205.8%200%201%201-5.8-5.9%205.6%205.6%200%200%201%205.8%205.9Zm-5.8%205.2a5.2%205.2%200%200%200%200-10.3%205.2%205.2%200%201%200%200%2010.3Zm0.6-8.3h-2.8v6.2h0.8V106h1.3l2%202.3h0.9v-0.1L697.6%20106a1.9%201.9%200%201%200-0.3-3.9Zm-2%200.7h2a1.2%201.2%200%200%201%200.2%202.4h-2.2Z%22%20class%3D%22a%22%2F%3E%3C%2Fsvg%3E");
  background-repeat:no-repeat;
  background-position: top left;
  background-size: contain;
}

#app-container{
  margin-top:70px;
  height: calc(100vh - 70px);
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#app-sidebar {
  border-right:1px solid $gray-light;
  padding: 2rem;
  height: calc(100vh - 70px);
  overflow:hidden;
  overflow-y:auto;
  width: 284px;
  -ms-flex: 0 284px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;
}

#app-content {
  padding: 2rem;
  height: calc(100vh - 70px);
  overflow:hidden;
  overflow-y:auto;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
