@import '../src/nio';

body,
#app-nav,
#app-container{
  min-width:320px;
}

#app-nav{
  padding: 1rem!important;
}
#app-container{
  margin-top:70px;
  height: calc(100vh - 70px);
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#app-sidebar {
  border-right:1px solid $gray-light;
  padding: 2rem;
  height: calc(100vh - 70px);
  overflow:hidden;
  overflow-y:auto;
  width: 280px;
  -ms-flex: 0 280px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;
}

#app-content {
  padding: 2rem;
  height: calc(100vh - 70px);
  overflow:hidden;
  overflow-y:auto;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
